.navigation {
    grid-area: navigation;
    display: grid;
    place-content: center;
    grid-template-rows: repeat(3, 1.5rem);
    grid-template-columns: repeat(3, 1.5rem);
    grid-template-areas: '. up .' 'left center right' '. down .';
    filter: drop-shadow(2px 2px 0 var(--black));
}

.navigation > *, .navigation::after {
    cursor: pointer;
    position: relative;
}

.navigation > *:active {
    transform: scale(0.95);
    background-color: var(--secondary);
}

.navigation-left {
    grid-area: left;
    border: none;
    background-color: var(--secondary);
}

.navigation-right {
    grid-area: right;
    border: none;
    background-color: var(--secondary);
}

.navigation-up {
    grid-area: up;
    border: none;
    background-color: var(--secondary);
}

.navigation-down {
    grid-area: down;
    border: none;
    background-color: var(--secondary);
}

.navigation > *:after {
    content: '';
    border: 4px solid transparent;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.navigation-left:after {
    border-inline-start: none;
    border-inline-end-color: var(--white);
}

.navigation-right:after {
    border-inline-end: none;
    border-inline-start-color: var(--white);
}

.navigation-up:after {
    border-block-start: none;
    border-block-end-color: var(--white);
}
.navigation-down:after {
    border-block-end: none;
    border-block-start-color: var(--white);
}