.left-side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--blue);
    margin-block-end: 0;
    padding: 2.05rem;
    padding-block-start: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    block-size: 91%;
    margin-block-start: -.5rem;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--blue);;
    margin-block-end: 0;
    padding: .8rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    block-size: 91%;
}

.left-side-shadow {
    filter: drop-shadow(.25rem .25rem 0 black);
}

.right-side-shadow {
    filter: drop-shadow(-.25rem -.25rem 0 black);
}

.left-side .light {
    margin-block-end: .5rem;
}

.left-side .light.is-big {
    margin-block-end: 1rem;
}